---
import { Picture } from 'astro:assets';
import ProfilePicture from '../assets/mblip-head.png';

const profile = {
  name: 'mdohr07',
  title: 'Frontend Developer',
  location: 'Bremen, Germany',
};
---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

  <div class="flex flex-col sm:flex-row gap-4 sm:items-center">

    <Picture
      src={ProfilePicture}
      formats={['png']}
      width={96}
      height={96}
      alt={'Profile picture ' + profile.name}
      title={profile.name}
      class="w-24 h-24 rounded-xl object-cover border-2 border-primary mx-auto sm:mx-0"
    />

    <div>

      <h1 class="text-2xl font-extrabold mb-1 inline-block relative text-heading">
        {profile.name}
      </h1>

      <p class="text-sm mb-2 text-primary">
        {profile.title}
      </p>

      <p class="flex items-center justify-center sm:justify-start text-sm text-meta">
        <svg
          class="-mt-0.5 inline mr-2"
          fill="none"
          height="14"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          width="14"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />
          <circle cx="12" cy="10" r="3" />
        </svg>
        {profile.location}
      </p>

    </div>

  </div>

  <!-- h-card -->
  <div class="text-meta max-w-xl mx-auto sm:mx-0">

    <h2 class="text-heading">Greetings, Traveler!</h2>

    <p lang="en" class="leading-relaxed mt-2 mb-4 standard-text">
      Welcome aboard my intergalactic outpost, orbiting around the stars and retro internet vibes. <i>☆彡</i>
    </p>

    <div id="hcard-mdohr07" class="mt-4">
      <p>
        &gt; <span class="font-semibold">CONTACT FREQUENCIES</span><br />
        &nbsp;&nbsp;URL:&nbsp;&nbsp;
        <a
          href="https://mdohr.space"
          target="_blank"
          rel="noopener noreferrer"
          class="text-link hover:underline"
          >https://mdohr.space</a
        ><br />
        &nbsp;&nbsp;Email:&nbsp;&nbsp;mdohr07(at)gmail.com<br />
        &nbsp;&nbsp;GitHub:&nbsp;
        <a
          href="https://github.com/mdohr07"
          target="_blank"
          rel="noopener noreferrer"
          class="text-link hover:underline"
          >https://github.com/mdohr07</a
        >
      </p>
    </div>
  </div>

</div>
