---
import '../styles/global.scss';
import Footer from "../components/Footer.astro";

// Base domain URL without trailing slash
const domainBaseURL = 'https://mdohr.space';
const ogImageUrl    = 'https://mdohr.space/img/preview.png';

// Website publisher & region
const authorPublisher   = 'mdohr07.';
const geoRegion         = 'DE-HB';

// SEO title, description and keywords
const seoTitle          = 'mdohr07 | Frontend Developer\'s personal space';
const seoDescription    = 'A personal space by frontend developer mdohr07 – curious and focused, sharing experiences, creative projects, and collections from the journey of learning and building on the web.';
const seoKeywords       = 'frontend developer, mdohr07, web development, creative coding, personal website, GitHub, Bearblog, VS Code, learning by building, developer portfolio, web design, Astro, HTML, CSS, JavaScript';

// Twitter card data
const twitter = {
    title:          'mdohr07 | Frontend Developer',
    description:    'The personal site of a frontend developer',
    image:          '/img/preview.png',
    site:           '@mdohr_space',
    creator:        '@mdohr_space'
};

// Open graph data
const openGraph = {
    title:          'mdohr07 | Frontend Developer',
    description:    'The personal site of a frontend developer',
    url:            'https://mdohr.space',
    image:          '/img/preview.png',
    type:           'website',
    locale:         'de_DE',
    siteName:       'mdohr.space'
};

---

<!doctype html>
<html lang="en" class="text-gray-100 font-mono">

    <head>

        <!-- Crawler & Robots -->
        <meta name="robots" content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
        <meta name="revisit-after" content="7 days" />
        <meta name="revisit" content="after 7 days" />

        <!-- Start: Meta-Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="content-type"         content="text/html; charset=UTF-8">
        <meta http-equiv="Pragma"               content="cache" />
        <meta http-equiv="X-UA-Compatible"      content="IE=edge">
        <meta name="viewport"                   content="width=device-width, initial-scale=1">
        <!-- End: Meta-Tags -->

        <!-- Start: DNS prefetch and preconnect -->
        <!-- <link rel="preload" as="image" href="/img/logo.svg" /> -->
        <link rel="preconnect" href="https://brain.papersend.io" />
        <!-- End: DNS prefetch and preconnect -->

        <!-- Start: Theming and Favicons -->
        <link rel="icon" type="image/svg+xml" crossorigin="anonymous" href="/img/logo.png" />
        <!-- <link rel="alternate icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="alternate icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest"> -->
        <!-- End: Theming and Favicons -->

        <!-- Start: Misc meta tags -->
        <link rel="sitemap"                     href="/sitemap-index.xml" />
        <link rel="canonical"                   href={Astro.url} />

        <meta name="geo.region"                 content={geoRegion}>
        <meta name="author"                     content={authorPublisher}>
        <meta name="publisher"                  content={authorPublisher}>
        <meta name="copyright"                  content={authorPublisher}>
        <!-- End: Misc meta tags -->

        <!-- Start: Facebook open graph -->
        <meta property="og:title"               content={openGraph.title}>
        <meta property="og:description"         content={openGraph.description}>
        <meta property="og:url"                 content={openGraph.url}>
        <meta property="og:type"                content={openGraph.type}>
        <meta property="og:image"               content={openGraph.image}>
        <meta property="og:locale"              content={openGraph.locale}>
        <meta property="og:site_name"           content={openGraph.siteName}>
        <!-- End: Facebook open graph -->

        <!-- Start: Twitter card -->
        <meta name="twitter:card"               content="summary_large_image">
        <meta name="twitter:title"              content={twitter.title}>
        <meta name="twitter:description"        content={twitter.description}>
        <meta name="twitter:image"              content={twitter.image}>
        <meta name="twitter:site"               content={twitter.site}>
        <meta name="twitter:creator"            content={twitter.creator}>
        <!-- End: Twitter card -->

        <!-- Title & Description -->
        <title>{seoTitle}</title>
        <meta name="description" content={seoDescription}>
        <meta name="abstract"    content={seoDescription}>
        <meta name="keywords"    content={seoKeywords}>

    </head>

    <div class="min-h-[100vh] flex items-center justify-center p-4">
        <slot />

        <footer class="footer fixed md:absolute bottom-0 left-0 right-0 w-full text-center py-2 footer-fix">
        <Footer />
        </footer>
        
        
     <!-- Credits -->
      
    </body>

</html>
